replicaCount: 1
image:
  repository: empathyco/cost-report
  pullPolicy: IfNotPresent
  tag: "0.0.6"
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
serviceAccount:
  create: true
  annotations: {}
  name: ""
podAnnotations: {}
podSecurityContext: {}
securityContext: {}
service:
  type: ClusterIP
  port: 8080
resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
serviceMonitor:
  enabled: true
  additionalLabels: 
    release: prometheus
  dashboards:
    enabled: true
awsCredentialsSecret: cost-report
